.terminal {
  justify-content: "center";
  align-items: center;
  flex-direction: column;
  padding: 1.25rem;
  background-color: #F0F0F0;
  box-sizing: border-box;
}

#terminal-editor {
  height: 200px !important;
  width: 100% !important;
}

.title{
  float: left;
  flex-direction: row;
}


.content{}